@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
:root{
    --background-color: #2f3542;
    --background-light: #f0f8ff;
    --primary-color: #2ed573;
    --text-color: #2f3542;
    --text-light:  #f0f8ff;
}
*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto Mono', 'monospace', sans-serif;
} 
body {
    
    /* letter-spacing: .1em; */
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-light);
    min-height: 70vh;
    padding-top: 2em;
    padding-bottom: 2em;
}
.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    color: var(--text-color);
    min-height: 70vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar {
    background-color: #354955;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.nav-link {
    color: #fff;
}
/* hero section */

.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--background-light);
    border-radius: .8rem;
}
.blog-post_image{
    min-width: 35rem;
    max-width: 35rem;
    height: 20rem;
    transform: translateX(-8rem);
    position: relative;
}
.blog-post_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 2px solid var(--background-light);
    border-radius: .8rem;
}
.blog-post_image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .8rem;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(46,213,115, .2) );
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
}

.blog-post_title{
    font-size: 2.5rem;
    margin: 1rem 0 .5rem;
}
.blog-post_text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    /* font-size: 1.4rem; */
}
.blog-post_CTA{
    display: inline-block;
    padding: .5rem 1.5rem;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: 2px solid var(--background-light);
    border-radius: .8rem;
    font-size: 1.2rem;
}
.blog-post_CTA:hover{
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    color: var(--text-light);
}
.icons{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 3rem;
}
.icon{
    color: var(--text-light);
    font-size: 2rem; 
    margin-top: 1rem;
}
/* end hero section */
.hero-content {
    width: 800px;
    margin: 0 auto;
    padding: 3em;
}
.hero-content-intro {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
   
}
#profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.intro-name {
    font-size: 62px;
    font-weight: 300;
    margin: 0;
}
.description{
    font-size: 48px;
    font-weight: 300;
    margin-top: 2em;
    margin: 0;
}
.slogan {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}
.project-body {
    background-color: #fff;
    padding: 1em;
}
.project-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
}
.project-wrapper::-webkit-scrollbar {
    width: 2px;
}
 .project-wrapper::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
.project-wrapper::-webkit-scrollbar-thumb {
    background-color: #17a2b8;
    outline: 1px solid slategray;
    border-radius: 100px;
}
.project-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #18b5ce;
}
.project-column {
    min-width: 300px;
    
    
}

/* Project section style */
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container-card .card1{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
                inset -5px -5px 5px rgba(255, 255, 255, 0.5), 
                5px 5px 5px rgba(0, 0, 0, 0.05), 
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.container-card .card1 .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container-card .card1:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.container-card .card1 .box .content{
    padding: 20px;
    text-align: center;
}
.container-card .card1 .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: var(--primary-color);
    margin-top: 15px;
    border-radius: 20px;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container-card .card1:hover .box .content a {
    background: var(--background-color);
}
.card-title{
    font-size: 1.8em;
    z-index: 1;
    transition: .05s;
}
.card-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End */

/* Endorsement */
.endorse{
    text-align: center;
}

.skills-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.skill-wrapper {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.skill-logo {
    width: 60px;
    object-fit: contain;
}
.other-skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.skill-tag {
    background-color: var(--primary-color);
    width: fit-content;
    color: aliceblue;
    padding: 3px 20px;
    border-radius: 20px;
}
.project-image {
    max-width: 800px;
}
.contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}



@media (max-width: 900px){
    .blog-post{
        max-width: 80rem;
    }
    .blog-post_image{
        min-width: 30rem;
        max-width: 30rem;
    }
    .project-wrapper{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 868px){
    .skills-container {
        width: 100%;
    } 
}
@media (max-width: 768px){
    .blog-post{
        padding: 3rem;
        flex-direction: column;
        margin-top: 5rem;
    }
    .blog-post_image{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
    .blog-post_title{
        margin: .5rem 0 .5rem;
    }
    .skills-container {
        width: 100%;
    } 
    .skill-wrapper {
        flex-flow: column;
    }
 
    .other-skill-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
}