{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    
    <section class="hero">
        <div class="hero-content">
            <div class="hero-content-intro">
                <img id="profile-pic" src="{% static 'images/me2in.png' %}" /> 
                <h1 class="intro-name">Mahbub<br>Morshed</h1>
            </div>
            <div class="hero-content-subheadline">
                <h3 class="description">Fullstack Developer</h3>
                <p class="slogan">Make cool things</p>
            </div>
        </div>
    </section>

    <section class="conatiner section-2">
        <h3>My Project</h3>
        <h5>projects that make my journey worthwhile</h5>
        <div class="project-wrapper">
            {% for project in projects %}
            <div class="project-column">
                <a href="{% url 'project' project.id %}">
                    <img class="project-thumb" src="{{project.thumbnail.url}}">
                </a>
                <div class="project-body">
                    <h4>{{project.title}}</h4>
                </div>
            </div>
            {% empty %}
            <h3>There are no projects in database</h3>
           {% endfor %}
        </div>
        <div class="about-wrapper">
            <h3>more about me</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque doloribus deleniti, 
                velit ea explicabo quis autem, corrupti officia soluta dolores libero laborum. Animi 
                eligendi quo optio ut? Ratione quia fuga dolores possimus dolore beatae assumenda in 
                nostrum, consequatur, obcaecati quam omnis impedit, culpa corporis odio suscipit eveniet 
                vitae quas itaque!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem aliquid veritatis 
                    t qui recusandae labore perspiciatis unde magni voluptatem.</p>
        </div>
    </section>
    <section class="section-1">
        <div class="skills-container">
            <h3>Skills</h3>
            {% for skill in detailedSkills %}
            <div class="skill-wrapper">
                <h5>{{skill.title}}</h5>
                <p>{{skill.body}}</p>
            </div>
            {% endfor %}
            <div class="skill-wrapper">
                <h5>Django</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Quos possimus expedita consequuntur. Delectus possimus a iste maiores sed nostrum nulla?</p>
            </div>
            
            <h3>Other skills</h3>
            <div class="other-skill-wrapper">
                {% for skill in skills %}
                <div class="skill-tag">
                    <span>{{skill.title}}</span>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    <!-- Endoresement -->
    <section class="section-2">
        <div class="skills-container">
            <h3>Endorsement</h3>
            <a class="btn btn-dark my-2" href="{% url 'add-endorsement' %}">Add Endorsement</a>

            {% for i in endorsements %}
            <div style="margin-bottom: 1em" class="card">
                <div class="card-body">
                    <h5>{{i.name}}</h5>
                    <p>{{i.body}}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="section-1">
        <div class="container">
            <form class="contact-form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" >{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                
                <input class="btn btn-primary" type="submit" value="submit" />
            </form>
        </div>  
    </section>

    {% endblock content %}
